# ==========================================
# REQUERIMIENTOS PRINCIPALES DEL PROYECTO SCA
# ==========================================

# 1. Dashboard Web y Orquestador (app.py)
Flask
Werkzeug
pdfplumber
markitdown
groq
python-dotenv

# 2. Motor de Base de Datos y Excel (excel_services)
pandas
openpyxl

# 3. Descarga de Correos IMAP (conection-service)
imap-tools

# 4. Descarga de Correos Gmail OAuth2 (conection-service)
# 5. Dependencias para Nivel 4 de OCR Local (Rescate de PDFs)
PyMuPDF
rapidocr
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# 5. Extracción de Datos de PDF (conversor1_pdf)
markitdown[all]